<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.tcxy.mapper.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="cn.com.tcxy.model.Dictionary" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="text_en" property="textEn" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="desc_en" property="descEn" jdbcType="VARCHAR" />
    <result column="item_order" property="itemOrder" jdbcType="INTEGER" />
    <result column="is_bulit_in" property="bulitIn" jdbcType="BIT" />
    <result column="is_valid" property="valid" jdbcType="BIT" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, category, value, text, text_en, description, desc_en, item_order, is_bulit_in, 
    is_valid, parent_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.tcxy.model.DictionaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="pagination != null and pagination.begin >= 0" >
      limit #{pagination.begin}, #{pagination.pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dictionary
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.tcxy.model.DictionaryExample" >
    delete from dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.tcxy.model.Dictionary" >
    insert into dictionary (id, category, value, 
      text, text_en, description, 
      desc_en, item_order, is_bulit_in, 
      is_valid, parent_id)
    values (#{id,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{text,jdbcType=VARCHAR}, #{textEn,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{descEn,jdbcType=VARCHAR}, #{itemOrder,jdbcType=INTEGER}, #{bulitIn,jdbcType=BIT}, 
      #{valid,jdbcType=BIT}, #{parentId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.tcxy.model.Dictionary" >
    insert into dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="text != null" >
        text,
      </if>
      <if test="textEn != null" >
        text_en,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="descEn != null" >
        desc_en,
      </if>
      <if test="itemOrder != null" >
        item_order,
      </if>
      <if test="bulitIn != null" >
        is_bulit_in,
      </if>
      <if test="valid != null" >
        is_valid,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="textEn != null" >
        #{textEn,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="descEn != null" >
        #{descEn,jdbcType=VARCHAR},
      </if>
      <if test="itemOrder != null" >
        #{itemOrder,jdbcType=INTEGER},
      </if>
      <if test="bulitIn != null" >
        #{bulitIn,jdbcType=BIT},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=BIT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.tcxy.model.DictionaryExample" resultType="java.lang.Integer" >
    select count(*) from dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dictionary
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null" >
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.value != null" >
        value = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.text != null" >
        text = #{record.text,jdbcType=VARCHAR},
      </if>
      <if test="record.textEn != null" >
        text_en = #{record.textEn,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.descEn != null" >
        desc_en = #{record.descEn,jdbcType=VARCHAR},
      </if>
      <if test="record.itemOrder != null" >
        item_order = #{record.itemOrder,jdbcType=INTEGER},
      </if>
      <if test="record.bulitIn != null" >
        is_bulit_in = #{record.bulitIn,jdbcType=BIT},
      </if>
      <if test="record.valid != null" >
        is_valid = #{record.valid,jdbcType=BIT},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dictionary
    set id = #{record.id,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=VARCHAR},
      value = #{record.value,jdbcType=VARCHAR},
      text = #{record.text,jdbcType=VARCHAR},
      text_en = #{record.textEn,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      desc_en = #{record.descEn,jdbcType=VARCHAR},
      item_order = #{record.itemOrder,jdbcType=INTEGER},
      is_bulit_in = #{record.bulitIn,jdbcType=BIT},
      is_valid = #{record.valid,jdbcType=BIT},
      parent_id = #{record.parentId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.tcxy.model.Dictionary" >
    update dictionary
    <set >
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="textEn != null" >
        text_en = #{textEn,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="descEn != null" >
        desc_en = #{descEn,jdbcType=VARCHAR},
      </if>
      <if test="itemOrder != null" >
        item_order = #{itemOrder,jdbcType=INTEGER},
      </if>
      <if test="bulitIn != null" >
        is_bulit_in = #{bulitIn,jdbcType=BIT},
      </if>
      <if test="valid != null" >
        is_valid = #{valid,jdbcType=BIT},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.tcxy.model.Dictionary" >
    update dictionary
    set category = #{category,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      text = #{text,jdbcType=VARCHAR},
      text_en = #{textEn,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      desc_en = #{descEn,jdbcType=VARCHAR},
      item_order = #{itemOrder,jdbcType=INTEGER},
      is_bulit_in = #{bulitIn,jdbcType=BIT},
      is_valid = #{valid,jdbcType=BIT},
      parent_id = #{parentId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>